# QtCreator / ClangFormat
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

# Braces
BraceWrapping:
  AfterClass: true            # Place class braces on a new line
  AfterFunction: true         # Place function braces on a new line
  AfterNamespace: true        # Place namespace braces on a new line
  AfterControlStatement: true # Place if/for/while braces on a new line
  AfterStruct: true           # Place struct braces on a new line
  AfterEnum: true             # Place enum braces on a new line
  BeforeCatch: true
  BeforeElse: true

# Additional style rules
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
IndentPPDirectives: None
IndentExternBlock: false
AlignTrailingComments: false
IndentWrappedFunctionNames: false
ReflowComments: false

# Do not align arguments under the opening bracket
AlignAfterOpenBracket: DontAlign
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false